Repository SalamLang/Salam-Website, pull requests merged in 2025-10, with the labels that each got.

#369 Add emojis to workflow names
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Labels: good first issue, github_actions, hacktoberfest, hacktoberfest-accepted, yaml

#372 Add emojis and improve README formatting
  README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, markdown

#373 Add `markdown-link-check` with `pre-commit`
  .pre-commit-config.yaml
Labels: tests, hacktoberfest, hacktoberfest-accepted, yaml

#386 Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/deploy.yml
Labels: good first issue, yaml, security

#387 Super-Linter add checks for YAML
  .github/workflows/lint-markdown.yml
Labels: good first issue, tests, github_actions, hacktoberfest, hacktoberfest-accepted, yaml
